* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: #e0046c;
}

.carousel {
  background-color: beige !important;
}

.carousel-item p {
  font-size: 75px;
  font-style: italic;
  color: #e0046c;
  font-weight: bold;

}

footer .bi {
  font-size: 1.5rem;
  color: #e0046c;
}

.btn-outline-danger {
  color: white !important;
}

body {
  background-color: azure;
}

.btn-outline-danger:hover {
  background-color: pink;
  opacity: 0.3;
}

.btn {
  background-color: #e0046c !important;
  border-color: #e0046c !important;
}

.card {
  border-color: #e0046c;
}

.card .card-title {
  color: #e0046c;
}

.row {
  margin: 50px 0 50px 0;

}

.form-control {
  border-color: #e0046c;
}

.bi-search {
  color: white;
}

.form-check-input {
  border-color: #e0046c;
}

th {
  background-color: #e0046c !important;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: #e0046c;
}

img {
  height: 125px;
}