* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration:none;
  color: black;
}

.carousel {
  background-color: beige;
}

.carousel-item p {
  font-size: 50px;
  font-style: italic;
}

.bi {
  font-size: 1.5rem;
}