* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration:none;
  color: #e0046c;
}

.carousel {
  background-color: beige !important;
}

.carousel-item p {
  font-size: 50px;
  font-style: italic;
}

footer .bi {
  font-size: 1.5rem;
  color: #e0046c;
}

.btn-outline-danger{
  color: #e0046c !important;  
}

body {
  background-color: azure;
}
